<div class="container">
  <p>Show a list of anagrams for "<%= @word %>"</p>

  <ul>
    <% @words.each do |word| %>
        <%= erb :_word_li, layout: false, locals: { word: word } %>
    <% end %>
  </ul>
</div>
